:root {
  /* Color */
  --color-black: #2c2a2c;
  --color-light-grey: #c2c2c2;
  --color-dark-white: #f4f3ec;

  --color-red: #ca0010;
  --color-more-light-green: #16b349;
  --color-light-green: #578f00;
  --color-green: #0c5f3a;
  --color-dark-green: #172b25;
  --color-brown: #503e35;

  /* 요소 color */
  --color-font: #5a575c;
  --color-nav: #f4f3ed;
  --color-notice: #0e0e0e;
  --color-line: #787878;
  --color-papua: #046575;
  --color-brazil-bg: #e7c7a1;
  --color-brazil: #7f522d;
  --color-footer: #2b2928;

  /* Border-radius */
  --borer-radius-regular: 5px;

  /* Animation */
  --animation-duration: 300ms;

  /* Font */
  --font-title: 35px;
  --font-more-large: 22px;
  --font-large: 20px;
  --font-more-regular: 18px;
  --font-regular: 15px;
  --fonnt-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-more-bold: 700;
  --weight-bold: 600;
  --weight-semi-bold: 500;
  --weight-regular: 400;
}

/* 전체 요소 */
/* html {
  width: 100%;
} */

* {
  margin: 0;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border-radius: var(--borer-radius-regular);
  padding: 9px 23px;
  cursor: pointer;
  color: white;
  font-size: var(--font-regular);
  transition: all var(--animation-duration) ease;
}

button:hover {
  text-decoration: underline;
  /* transition: all var(--animation-duration) ease; */
}

/* navbar */
.navbar {
  background-color: var(--color-nav);
  display: flex;
  border-top: solid 2px black;
  height: auto;
  max-width: 100%;
  white-space: nowrap;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 76%;
}

.nav__content {
  color: var(--color-font);
}

.small__nav {
  display: flex;
  position: relative;
  right: -160px;
  font-size: var(--fonnt-small);
  margin-top: 20px;
}

.small__nav__items,
.small__nav__no-line {
  cursor: pointer;
  padding-left: 18px;
  padding-right: 18px;
  height: 20px;
  /* 검색창 추가 */
}

.small__nav__items::after {
  content: " ";
  position: absolute;
  background-color: var(--color-light-grey);
  width: 1px;
  height: 12px;
  margin-left: 15px;
}

.small__nav__items:last-child::after {
  content: none;
}

.small__nav__items:hover {
  text-decoration: underline;
}

.small__nav__btn {
  background-color: white;
  color: var(--color-font);
  padding: 0;
  width: 35px;
  height: 35px;
  font-size: var(--font-large);
  border-radius: 5px;
  border: solid 1px var(--color-light-grey);
  display: block;
  position: relative;
  top: -10px;
}

.main__nav {
  /* float: right; */
  display: flex;
  font-size: var(--fonnt-small);
  margin-bottom: 20px;
}

.main__nav__items {
  cursor: pointer;
  padding: 10px 10px 25px 10px;
  margin-right: 30px;
}

.main__nav__items:hover {
  text-decoration: underline;
  color: var(--color-light-green);
}

/* Nav media */
.media__icons {
  position: absolute;
  display: none;
  right: 0px;
  font-size: var(--font-title);
  color: var(--color-brown);
}

.media__icon {
  margin-right: 25px;
}

/* Main */
/* Badge */
.badge {
  position: fixed;
  right: 20px;
  top: 20%;
  z-index: 999;
}

.badge img {
  width: 80%;
}

.New__menu__container {
  position: relative;
  box-sizing: border-box;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
}

.New__menu__slogan,
.New__menu__btn,
.frappuccino,
.blended,
.tea {
  position: absolute;
}

.frappuccino__m__intro,
.blended__m__intro,
.tea__m__intro {
  display: none;
}

.New__menu__slogan img,
.frappuccino img,
.blended img,
.tea img {
  width: 100%;
}

.New__menu__bg {
  background-image: url("image/new__menu/2021_summer2_bg.jpeg");
  height: 646px;
  background-position: 50% top;
  background-size: cover;
}

.New__menu__slogan {
  padding-top: 30px;
  padding-left: 5%;
  top: 40px;
  width: 30%;
}

/* keyframes css opacity fade in 검색 */

/* btn size 조정할 필요 %로 */
.New__menu__btn {
  top: 115%;
  left: 40%;
  border: solid 2px var(--color-black);
  color: var(--color-black);
}

.New__menu__btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.frappuccino {
  top: 25%;
  left: 33%;
  width: 37%;
}

.frappuccino__intro {
  left: -65%;
  top: 55%;
  width: 60%;
}

.blended {
  top: 15%;
  left: 55%;
  width: 33%;
}

.blended__intro {
  left: -25px;
  top: 105%;
  width: 60%;
}

.tea {
  top: 25%;
  left: 76%;
  width: 35%;
}

.tea__intro {
  top: 106%;
  width: 70%;
  left: -5%;
}

.frappuccino__intro,
.blended__intro,
.tea__intro {
  position: absolute;
}

/* Notice */
.Notice__container {
  display: flex;
  width: 100%;
  position: relative;
}

.Notice__banner,
.Notice__promo {
  width: 50%;
  height: 40px;
  padding: 15px 0;
}

.Notice__banner {
  background-color: var(--color-notice);
  color: white;
}

.Notice__banner__container {
  position: absolute;
  right: 54%;
}

.Notice__banner__title {
  font-size: var(--font-large);
}

.Notice__banner__content {
  margin-left: 20px;
}

.Notice__banner__btn {
  color: var(--color-dark-white);
  border: solid 1px var(--color-dark-white);
  margin-left: 100px;
}

.Notice__banner__btn,
.Notice__promo__btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: var(--font-large);
  padding: 0;
}

.Notice__promo {
  padding-left: 5%;
  background-color: var(--color-dark-white);
  color: var(--color-font);
}

.Notice__promo__title {
  font-size: var(--font-large);
  font-weight: 550;
}

.Notice__promo__btn {
  border: solid 1px var(--color-black);
  margin-left: 30px;
  color: black;
}

/* Rewards  */
.Rewards {
  background-color: var(--color-dark-green);
  height: 230px;
}

.Rewards__container {
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
}

.Rewards__logo {
  float: left;
  width: 25%;
  text-align: center;
}

.Rewards__logo img {
  width: 65%;
}

.question {
  color: white;
}

.question__title {
  margin-bottom: 20px;
}

.answer__content {
  font-size: var(--font-more-regular);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 35px;
}

.question__btns {
  position: absolute;
  top: 80px;
  right: 0%;
}

.join__btn {
  background-color: var(--color-green);
  border: none;
  margin-right: 6px;
}

.login__btn {
  background-color: transparent;
  border: solid 2px white;
  padding: 7px 15px;
}

.e-gift__btn {
  position: absolute;
  display: block;
  right: 0%;
  top: 155px;
  border: solid 2px white;
}

.e-gift::before {
  content: " ";
  position: absolute;
  background-color: var(--color-line);
  height: 1px;
  width: 75%;
  top: 143px;
}

.e-gift__content {
  font-size: var(--font-regular);
}

.question__br,
.answer__br1,
.answer__br2,
.e-gift__br1,
.e-gift__br2 {
  display: none;
}

/* Papua__coffee */
.Papua__coffee__bg {
  background-image: url("image/Papua__coffee/2021_summer2_bean_bg.jpeg");
  height: 571px;
  background-position: 50% top;
}

.Papua__coffee__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Papua__coffee__img {
  margin-top: 80px;
  margin-right: 110px;
}

.Papua__coffee__mini__title {
  color: #0c90a8;
  font-size: var(--font-more-large);
  font-weight: var(--weight-more-bold);
  margin: 0;
}

.Papua__coffee__title {
  color: var(--color-papua);
  font-size: var(--font-title);
  font-weight: var(--weight-more-bold);
  margin: 0;
}

.Papua__coffee__intro {
  font-size: var(--font-more-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-font);
}

.Papua__coffee__btn {
  color: var(--color-papua);
  border: 2px solid var(--color-papua);
}

.Papua__coffee__btn:hover {
  background-color: var(--color-papua);
  color: white;
}

/* Brazil__coffee */
.Brazil__coffee__half__bg {
  background-image: url("image/Brazil__coffee/reserve_sundried_brazil_bean4_1.png");
  height: 392px;
  background-color: var(--color-brazil-bg);
  background-position: 50% top;
  position: relative;
}

.Brazil__coffee__title {
  position: absolute;
  top: 95px;
  left: 160px;
}

.Brazil__coffee__btn {
  position: absolute;
  top: 270px;
  left: 430px;
  color: var(--color-brazil);
  border: solid 2px var(--color-brazil);
}

.Brazil__coffee__btn:hover {
  background-color: var(--color-brazil);
  color: white;
}

/* Pick__menu */
.Pick__menu__bg {
  background-image: url("image/Pick__menu/fav_prod_bg_new.jpg");
  height: 790px;
  background-attachment: fixed;
  background-position: 75% top;
  position: relative;
}

.Pick__menu__txt {
  position: relative;
  top: 130px;
  left: 200px;
}

.Pick__menu__content {
  position: absolute;
  left: -100px;
  bottom: -160px;
}

.Pick__menu__img {
  position: absolute;
  top: -10px;
  right: 200px;
}

.Pick__menu__btn {
  position: relative;
  top: 240px;
  left: 140px;
  border: solid 2px white;
}

.Pick__menu__btn:hover {
  background-color: white;
  color: var(--color-font);
}

/* Reserve */

#Reserve {
  height: 700px;
  width: 100%;
  position: relative;
}

.Reserve__img::before {
  content: "";
  position: absolute;
  background-color: var(--color-line);
  height: 1px;
  width: 70%;
  top: 59%;
  right: 50px;
}

.Reserve__img img {
  position: absolute;
  margin-top: 90px;
  margin-left: 140px;
  width: 450px;
}

.Reserve__img::after {
  content: "";
  position: absolute;
  background-color: var(--color-line);
  height: 60%;
  width: 1px;
  top: 130px;
  left: 44%;
}

.Reserve__title {
  position: relative;
  top: 250px;
  left: 668px;
}

.Reserve__btn {
  position: relative;
  top: 340px;
  left: 650px;
  border: none;
}

.Reserve__btn :hover {
  /* 그림자 현상으로 인한 오류 내 마음대로 바꾸기 */
  /* background-color: black; */
  /* position: relative; */
}

/* Store */
.Store__bg__img {
  position: relative;
  height: 430px;
  background-color: #e6e6e6;
}

.Store__img__big {
  position: relative;
  top: -107px;
  left: 150px;
}

.Store__img__small {
  position: relative;
  top: -280px;
  left: 370px;
}

.Store__bg__img__coffee {
  position: absolute;
  left: 530px;
  top: -40px;
  /* 넘어가는 애 처리하기 (overflow 안 먹음) */
}

.Store__bg__img__house {
  position: relative;
  left: 80%;
  top: 76%;
}

.Store__title {
  position: absolute;
  top: 130px;
  left: 850px;
}

.Store__content {
  position: absolute;
  top: 200px;
  left: 850px;
}

.Store__btn {
  position: absolute;
  left: 860px;
  top: 290px;
  color: var(--color-font);
  padding: 9px 28px;
}

.Store__btn:hover {
  background-color: black;
  color: white;
}

/* footer */
.footer {
  background-color: var(--color-footer);
  height: 600px;
}

.footer__list {
  color: white;
  font-weight: var(--weight-regular);
  font-size: var(--fonnt-small);
  display: flex;
  justify-content: center;
  line-height: 1.7;
  padding-top: 50px;
  cursor: pointer;
}

.company,
.corpor,
.community,
.partner,
.recquit {
  margin: 0;
  margin-right: 80px;
}

.company__title,
.corpor__title,
.community__title,
.partner__title,
.recquit__title {
  margin-bottom: 10px;
}

.company__title:hover,
.corpor__title:hover,
.community__title:hover,
.partner__title:hover,
.recquit__title:hover {
  text-decoration: underline;
}

.company__list:hover,
.corpor__list:hover,
.community__list:hover,
.partner__list:hover,
.recquit__list:hover {
  text-decoration: underline;
}

.footer__banner {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  cursor: pointer;
}

.terms__and__conditions {
  color: white;
  font-weight: var(--weight-regular);
  font-size: var(--font-micro);
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.tac__list {
  margin-left: 25px;
  position: relative;
  cursor: pointer;
}

.tac__list:hover {
  text-decoration: underline;
}

.tac__list__green {
  color: var(--color-more-light-green);
  cursor: pointer;
}

.tac__list__green:hover {
  text-decoration: underline;
}

.tac__list::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 1px;
  background-color: var(--color-line);
  margin-right: 30px;
  left: -13px;
}

.footer__btns {
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer__btn {
  border: solid 2px white;
  font-size: var(--font-micro);
  margin-left: 10px;
  padding: 7px 20px;
}

.footer__info {
  display: flex;
  justify-content: center;
  color: var(--color-line);
  font-size: var(--font-micro);
  margin-top: 25px;
}

.info__list {
  margin-left: 20px;
}

.footer__rights {
  display: flex;
  justify-content: center;
  color: var(--color-line);
  font-size: var(--font-micro);
}

@media screen and (max-width: 1030px) {
  .Rewards {
    height: 500px;
  }

  .Rewards__container {
    padding-top: 40px;
  }

  .Rewards__logo {
    width: 40%;
    margin-top: 7%;
  }

  .question {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .answer {
    margin-bottom: 60px;
  }

  .e-gift::before {
    top: 73%;
    width: 50%;
  }

  .question__btns,
  .e-gift__btn {
    display: inline-block;
    right: auto;
  }

  .question__btns {
    top: 58%;
  }

  .e-gift__btn {
    top: 105%;
    left: 40%;
  }

  .question__br,
  .answer__br1,
  .answer__br2,
  .e-gift__br1,
  .e-gift__br2 {
    display: block;
  }
}

@media screen and (max-width: 970px) {
  /* Navbar */
  .navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 888;
    border-top: none;
  }

  .nav__container {
    margin: 0;
  }

  .nav__content {
    display: none;
  }

  .nav__logo img {
    width: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
  }

  .media__icons {
    display: flex;
  }

  /* Badge */
  .badge {
    right: 10px;
    top: 100px;
    width: 18%;
  }

  /* New__menu */
  .New__menu__bg {
    height: 550px;
    padding-top: 30px;
  }

  /* Notice */
  .Notice__container {
    display: flex;
    flex-direction: column;
  }

  .Notice__banner,
  .Notice__promo {
    width: 100%;
  }

  .Notice__banner {
    /* padding-left: 130px; */
  }

  .Notice__banner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
  }

  .Notice__banner__btn {
    margin-left: 70px;
  }

  .Notice__promo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 870px) {
  .New__menu__bg {
    height: 500px;
  }
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* Badge */
  .badge {
    width: 26%;
  }

  /* New__menu */
  .New__menu__bg {
    background-image: url("image/new__menu/2021_m_summer2_bg.jpeg");
    height: 250vw;
    background-size: cover;
  }

  .New__menu__container {
    position: relative;
  }

  .New__menu__slogan {
    top: 7%;
    width: 100%;
  }

  .New__menu__slogan img {
    width: 50%;
  }

  .New__menu__btn {
    display: none;
  }

  .frappuccino img,
  .blended img,
  .tea img {
    width: 100%;
  }

  .frappuccino__intro,
  .blended__intro,
  .tea__intro {
    display: none;
  }

  .frappuccino__m__intro,
  .blended__m__intro,
  .tea__m__intro {
    position: absolute;
    display: block;
  }

  .frappuccino__m__intro img,
  .blended__m__intro img,
  .tea__m__intro img {
    width: 100%;
  }

  .frappuccino {
    top: 18%;
    width: 70%;
    left: 57%;
  }

  .frappuccino__m__intro {
    top: 37%;
    left: -80%;
    padding-left: 30px;
    padding-right: 30px;
    width: 70%;
  }

  .blended {
    top: 54%;
    left: 10%;
    width: 70%;
  }

  .blended__m__intro {
    top: -30%;
    width: 55%;
  }

  .tea {
    top: 67%;
    width: 70%;
    left: 38%;
  }

  .tea__m__intro {
    top: -45%;
    width: 60%;
    left: 20%;
  }
}
